/** style for multi-element presentation */

.work_type-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work_type-list-entry {
    width: 15%;
    height: 15%;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 155px;
    min-width: 155px;
}
.work_type-list-entry img {
   
}